<ion-view view-title="Dashboard">
  <ion-content>
    <h1>Dashboard</h1>
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">{{msg}}</h1>
      </ion-header-bar>
      <ion-content ng-controller="AppCtrl" class="padding">
   <button class="button button-full button-positive" ng-click="filepathChooser()">
                      Select File
                  </button>
      </ion-content>
    </ion-pane>


  <h1>Select text file</h1>
    <input type="file" on-read-file="showContent($fileContent)" />
    <div ng-if="content">
        <h2>File content is:</h2>
        <pre>{{ content }}</pre>
    </div>
  </ion-content>
</ion-view>
