<ion-view view-title="Dashboard">
  <ion-content>
  <pre> {{debug}} </pre>
    <table >
      <thead>
      <tr>
        <th witdh="20">Name</th>
        <th witdh="10">Min</th>
        <th witdh="15">Min Heure</th>
        <th witdh="15">Moyenne</th>
        <th witdh="10">Max</th>
        <th witdh="15">Max Heure</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in recapitulatif">
        <td>{{row.name}}</td>
        <td>{{row.min}}</td>
        <td>{{row.minDate}}</td>
        <td>{{row.avg}}</td>
        <td>{{row.max}}</td>
        <td>{{row.maxDate}}</td>
      </tr>
      </tbody>
    </table>

    <div ng-repeat="chart in lineCharts">
      <highchart id="chart1" config="chart" class="span10"></highchart>
    </div>

    <div ng-repeat="chart in fullCharts">
      <highchart id="chart1" config="chart" class="span10"></highchart>
    </div>

      </ion-content>
</ion-view>
